---
import Layout from '@/client/ui/layouts/Layout.astro';
import type { Application } from '@/server/auth/domain/entitites/Application';
import { AuthPageHandler } from '@/server/auth/route/pageHandler';
import { FailureCode } from '@/server/failures';
import { ResultAsync, errAsync } from 'neverthrow';
import { match } from 'ts-pattern';

export const prerender = false;

const searchParams = Astro.url.searchParams;
const clientId = searchParams.get('client_id');
const redirectUri = searchParams.get('redirect_uri');
const scope = decodeURIComponent(searchParams.get('scope') || '');
const state = searchParams.get('state');

const result = await AuthPageHandler<ResultAsync<Application, Response>>(
  Astro,
  (container) => {
    const getApplication = container.resolve('getApplicationUseCase');

    if (!clientId || !redirectUri) {
      return errAsync(Response.redirect(`${redirectUri}?error=invalidRequest`));
    }

    return getApplication({
      clientId: clientId ?? '',
      scope,
      redirectUri: redirectUri ?? '',
    }).mapErr((failure) => {
      return match(failure)
        .with({ code: FailureCode.NotFound }, () =>
          Response.redirect(`${redirectUri}?error=unauthorized_client`),
        )
        .with(
          { code: FailureCode.InvalidRequest, message: 'scopeDoesNotMatch' },
          () => Response.redirect(`${redirectUri}?error=invalid_scope`),
        )
        .with(
          {
            code: FailureCode.InvalidRequest,
            message: 'redirectUriDoesNotMatch',
          },
          () => Response.redirect(`${redirectUri}?error=invalidRequest`),
        )
        .otherwise(() =>
          Response.redirect(`${redirectUri}?error=server_error`),
        );
    });
  },
);

if (result.isErr()) {
  return result.error;
}

const application = result.value;
---

<Layout title='Authorize'>
  <div
    class:list={'container relative mt-28 flex w-full justify-center items-center flex-col gap-6'}
  >
    <div>
      <h1 class='text-xl font-bold break-keep leading-relaxed pb-8'>
        {application.name}이,
        <br />@{Astro.locals.user?.username} 계정에 대한 접근을 요청합니다.
        <br />
        요청을 허용하면, {application.name}은 <br />
        {scope?.split(' ')?.join(', ')} 에 대한 접근 권한을 얻게 됩니다.
        <br />
        계속 하시겠습니까?
      </h1>
      <div class='flex gap-4 w-full'>
        <authorization-button
          class='bg-foreground no-underline flex justify-center text-background px-4 py-2 rounded w-full'
        >
          승인
        </authorization-button>
        <a
          href={`${redirectUri}?error=access_denied&state=${state}`}
          class='bg-red-500 no-underline flex justify-center text-white px-4 py-2 rounded w-full'
        >
          거절
        </a>
      </div>
    </div>
  </div>
</Layout>

<script>
  class AuthorizationButton extends HTMLElement {
    connectedCallback() {
      this.addEventListener('click', this.onClick);
    }

    onClick = (event: MouseEvent) => {
      event.preventDefault();

      const searchParams = new URLSearchParams(window.location.search);
      const clientId = searchParams.get('client_id');
      const redirectUri = searchParams.get('redirect_uri');
      const scope = decodeURIComponent(searchParams.get('scope') || '');
      const state = searchParams.get('state');

      this.classList.add('opacity-50');
      fetch('/oauth/code', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          clientId,
          redirectUri,
          scope,
          state,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          const response = data as { url: string };
          if (typeof response?.url === 'string') {
            window.location.href = response.url;
          }
        })
        .finally(() => {
          this.classList.remove('opacity-50');
        });
    };
  }

  customElements.define('authorization-button', AuthorizationButton);
</script>
