---
import ko from '@content/experience/ko.json';
import en from '@content/experience/en.json';
import ja from '@content/experience/ja.json';
import { languageTag } from '@/i18n/paraglide/runtime';
import * as m from '@/i18n/paraglide/messages';

const experiences = {
  ko,
  en,
  ja,
};

const language = languageTag();
---

<section>
    <h2 class="typo-headline-small flex justify-between pb-[1em]">
      {m.experiences()}
    </h2>
    <div class="flex flex-col md:grid md:grid-cols-[11.5rem_1fr] md:gap-8 gap-4">

      {experiences[language].map((experience) => (
        <>
          <div class="typo-subtitle-large">
            {
              experience.startDate && experience.endDate ? (
                <span>
                  <time datetime={experience.startDate}>{new Date(experience.startDate).toLocaleDateString(language, {
                    year: 'numeric',
                    month: 'short'
                  })}</time> - <time datetime={experience.endDate}>{new Date(experience.endDate).toLocaleDateString(language, {
                    year: 'numeric',
                    month: 'short'
                  })}</time>
                </span>
              ): (
                <em>
                  <time datetime={experience.startDate}>{new Date(experience.startDate).toLocaleDateString(language, {
                    year: 'numeric',
                    month: 'short'
                  })}</time> - {m.present()}
                </em>
              )
            }
          </div>

          <div class="space-y-2">
            <div>
              <h3 class="typo-subtitle-large">
                {experience.company}
              </h3>
              <p class="typo-body">
                {experience.position}
              </p>
            </div>

            <p class="typo-body pb-8" set:html={experience.description}/>
          </div>
        </>
      ))}
  </section>
