---
import ko from '@content/experience/ko.json';
import en from '@content/experience/en.json';
import ja from '@content/experience/ja.json';
import { i18n } from '@/i18n/utils';

const experiences = {
  ko,
  en,
  ja,
};

const { language, t } = i18n(Astro.url);
---

<section>
    <h2 class="typo-headline-small flex justify-between pb-[1em]">
      {t('experiences')}
    </h2>
    <div class="flex flex-col md:grid md:grid-cols-[11.5rem_1fr] md:gap-8 gap-4">

      {experiences[language].map((experience) => (
        <>
          <div class="typo-subtitle-large">
            {
              experience.startDate && experience.endDate ? (
                <span>
                  <time datetime={experience.startDate}>{new Date(experience.startDate).toLocaleDateString(language, {
                    year: 'numeric',
                    month: 'short'
                  })}</time> - <time datetime={experience.endDate}>{new Date(experience.endDate).toLocaleDateString(language, {
                    year: 'numeric',
                    month: 'short'
                  })}</time>
                </span>
              ): (
                <em>
                  <time datetime={experience.startDate}>{new Date(experience.startDate).toLocaleDateString(language, {
                    year: 'numeric',
                    month: 'short'
                  })}</time> - {t('present')}
                </em>
              )
            }
          </div>

          <div class="space-y-2">
            <div>
              <h3 class="typo-headline-small">
                {experience.company}
              </h3>
              <p class="typo-body">
                {experience.position}
              </p>
            </div>

            <p class="typo-body pb-8" set:html={experience.description}/>
          </div>
        </>
      ))}
  </section>
