---
import '@/styles/post.css';
import TableOfContents from '@/ui/components/Post/TableOfContents/TableOfContents.astro';
import Layout from '@/ui/layouts/Layout.astro';

import type { Post } from '@/types/Post';

interface Props {
  post: Post;
}

const { post } = Astro.props;

const ogImage = `${Astro.url.origin}/posts/${post.slug.replaceAll(
  '/',
  '__',
)}/og.png`;
---

<Layout title={post.data.title}>
  <Fragment slot='head'>
    <meta property='og:title' content={post.data.title} />
    <meta property='og:description' content={post.data.description} />
    <meta property='og:url' content={Astro.url.href} />
    <meta property='og:image' content={ogImage} />
    <meta property='og:locale' content={post.data.locale} />
    <meta property='og:type' content='article' />
    <meta
      property='article:published_time'
      content={post.data.date.toLocaleDateString()}
    />
    <meta
      property='article:author'
      content={`${Astro.url.origin}/${post.data.locale}/about`}
    />
    <meta
      property='article:tag'
      content={post.data.tags.map((tag) => tag.id).join(',')}
    />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={post.data.title} />
    <meta property='twitter:description' content={post.data.description} />
    <meta name='twitter:image' content={ogImage} />
  </Fragment>
  <div class:list={'mt-20 relative w-full flex flex-col container gap-4'}>
    <div class='overflow-hidden'>
      <h1
        class='text-balance text-[min(8vw,9em)] font-extrabold leading-[1.25] duration-1000 animate-in fade-in slide-in-from-bottom fill-mode-both'
      >
        {post.data.title}
      </h1>
    </div>
    <div class='block gap-4 lg:flex'>
      <p class='w-[min(25vw,25%)]'>
        {
          Intl.DateTimeFormat(post.data.locale, {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          }).format(post.data.date)
        }
        {' ー '}
        {post.data.tags.map((tag) => <span>#{tag.id}</span>)}
      </p>
      <p class='prose mx-auto flex-1 dark:prose-invert lg:px-2'>
        {post.data.description}
      </p>
    </div>
  </div>

  <div class='container mt-8 flex gap-4'>
    <TableOfContents post={post.body} />
    <div class='prose relative mx-auto flex-1 dark:prose-invert lg:px-2'>
      <slot />
    </div>
  </div>
</Layout>
