---
import GetInTouchSection from '@/client/ui/components/Main/GetInTouchSection.astro';
import GreetingSection from '@/client/ui/components/Main/GreetingSection.astro';
import Layout from '@/client/ui/layouts/Layout.astro';
import * as m from '@/paraglide/messages';
import { languageTag } from '@/paraglide/runtime';
import IntroduceSection from '../client/ui/components/Main/IntroduceSection.astro';
import PostsSection from '../client/ui/components/Main/PostsSection.astro';

const currentLocale = languageTag();
---

<Layout title={m.name()}>
  <Fragment slot='head'>
    <meta name='description' content={m.description()} />
    <link rel='canonical' href={Astro.site?.origin} />
    <meta property='og:url' content={Astro.site?.origin} />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={m.name()} />
    <meta property='og:description' content={m.description()} />
    <meta property='og:image' content={`/og/${currentLocale}/og-image.png`} />
  </Fragment>
  <div class:list={'flex flex-col grow overflow-x-hidden'}>
    <div class:list={'grow'}>
      <div class='flex h-full flex-col items-start justify-center'>
        <div class='flex w-full flex-col'>
          <GreetingSection />
          <IntroduceSection />
          <PostsSection />
          <GetInTouchSection />
        </div>
      </div>
    </div>
  </div>
</Layout>
