---
import * as m from '@/i18n/paraglide/messages';
import { languageTag } from '@/i18n/paraglide/runtime';
import { getRelativeLocaleUrl } from 'astro:i18n';
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const language = languageTag();
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const defaultOgImage = getRelativeLocaleUrl(language, '/open-graph/image.png').slice(0, -1);
const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="mask-icon" href="/favicon.svg" color="#000000" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
{
  language === 'ja' ?
  <link href="https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Noto+Serif+JP:wght@400..900&display=swap" rel="stylesheet" />
  :
  <link href="https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Noto+Serif+KR:wght@400..900&display=swap" rel="stylesheet" />
}
<link 
  rel="preload" 
  href="/fonts/pretendard/pretendard.css" 
  as="style" 
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="/fonts/pretendard/pretendard.css">
</noscript>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title || m.name()}</title>
<meta name="title" content={title || m.name()} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image || defaultOgImage, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image || defaultOgImage, Astro.url)} />
