---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Layout from '@/layouts/Layout.astro';
import '@/styles/prose.css';
import type { MarkdownHeading } from 'astro';
import TableOfContents from './TableOfContents.astro';
import { i18n } from '@/i18n/utils';

type Props = Partial<CollectionEntry<'blog'>['data']> & {
  isDefaultLanguage?: boolean;
  headings: MarkdownHeading[];
  id?: string;
};

const { title, description, pubDate, updatedDate, tags, isDefaultLanguage, headings, id } = Astro.props;

const { t, tPath } = i18n(Astro.url);
const ogImage = id ? tPath(`/open-graph/writing/${id}.png`).slice(0, -1) : undefined;
---

<Layout title={title} ogImage={ogImage}>
	<Fragment slot="head">
		<BaseHead title={title} description={description} />
	</Fragment>

  <TableOfContents headings={headings} />
  <article class="container" lang={isDefaultLanguage ? 'ko' : undefined}>
      <div>
        <div>
          <h1 class="typo-sans-bold vt-name-[title] title">{title}</h1>
          <p class="typo-sans-bold opacity-50 vt-name-[name] author">{t('name')}</p>
          <section class="flex gap-8 justify-between mt-4">
            <p class="typo-sans-bold !text-foreground/50 date whitespace-nowrap"><FormattedDate date={updatedDate || pubDate || new Date()} /></p>
            <p class="typo-sans !text-foreground/50 [&:lang(en)]:text-balance [&:lang(ko)]:text-balance">{description}</p>

            {
              tags?.length && (
                  <p class="typo-sans sr-only flex gap-2 !text-foreground/50 tags">
                  {tags?.map((tag:string) => <span class="inline-block">{tag}</span>)}
                </p>
              )
            }
          </section>
        </div>


      {
        isDefaultLanguage && (
          <aside class="border-l-4 border-foreground/10 pl-4 py-2 mt-8 [&:lang(en)]:text-balance">
            <p class="mb-2 typo-sans-bold">
              {t('translationPendingTitle')}
            </p>
            <p>{t('translationPendingDescription')}</p>
          </aside>
        )
      }

      <div class="prose mt-16">
        <slot />
      </div>
    </div>
  </article>
</Layout>
