---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import * as m from '@/i18n/paraglide/messages';
import Layout from '@/layouts/Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<Layout title={title}>
	<Fragment slot="head">
		<BaseHead title={title} description={description} />
	</Fragment>

  <article class="prose container">
      <div>
        <div>
          <h1 class="typo-headline-small vt-name-[title] title">{title}</h1>
          <p class="typo-headline-small opacity-50 vt-name-[name] author">{m.name()}</p>
          <p class="mt-4 mb-8 typo-subtitle-small !text-foreground/50 [&:lang(en)]:text-balance [&:lang(ko)]:text-balance">{description}</p>
          <section class="flex gap-4 justify-between mb-8">
            <p class="typo-subtitle-small !text-foreground/50 date"><FormattedDate date={pubDate} /></p>

            {
              tags?.length && (
                  <p class="typo-subtitle-small flex gap-2 !text-foreground/50 tags">
                  {tags?.map((tag) => <span class="inline-block">{tag}</span>)}
                </p>
              )
            }
          </section>
        </div>
      <div class="prose">
        <slot />
      </div>
    </div>
  </article>
</Layout>
