---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import ThemeInitializer from '@/components/ThemeInitializer.astro';
import { customTransition } from '@/styles/customTransition';
import { ClientRouter } from 'astro:transitions';
import '@/styles/global.css';
import { i18n } from '@/i18n/utils';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
const { language } = i18n(Astro.url);
---
<html lang={language} transition:animate="none" class="group/root light">
  <head>
    <BaseHead description={description} title={title} image={ogImage} />
    <slot name="head" />

    <ThemeInitializer/>
    <ClientRouter />
    </script>
  </head>
  <body class="[&:lang(ko)]:break-keep bg-background [&:lang(ko)]:break-anywhere [&:lang(ja)]:auto-phrase antialiased selection:text-white selection:bg-accent transition-all duration-500">
    <Header />

    <main transition:animate={customTransition} class="pt-16 pb-32 relative z-10 bg-background">
      <slot />
    </main>

    <div class="bg-background min-h-screen absolute inset-0 pointer-events-none"></div>
  </body>
</html>
<style is:global>
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 0.5rem, 0);
      filter: blur(0.125rem);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      filter: blur(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      filter: blur(0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 0.5rem, 0);
      filter: blur(0.125rem);
    }
  }
</style>

